@{
    ViewData["Title"] = "StudentSchedule Page";
    @model SearchStudentSchedule ;
    @inject IRepositoryManager repository

    List<SearchStudentSchedule> data = (List<SearchStudentSchedule>)ViewData["Data"];
    var GroupList = new List<Group>();
    var GroupListAll = new List<Group>();
    var res1 = await repository.GroupRepository.GetAllGroupsInCurrentYear();
    var res2 = await repository.GroupRepository.GetAll();

    if (res1.Count > 0 && res2.Count > 0)
    {
        GroupList = res1.ToList();
        GroupListAll = res2.ToList();

    }
    var YearList = new List<Year>();
    var yearRes = await repository.YearRepository.GetAll();
    if(yearRes.Count > 0)
    {
        YearList = yearRes.ToList();
    }

    var TermList = new List<Term>();
    var termRes = await repository.TermRepository.GetAll();
    if(termRes.Count > 0)
    {
        TermList = termRes.ToList();
    }

    int StudentScheduleCount;
    if (data == null)
    {
        StudentScheduleCount = 0;
    }
    else
    {
        StudentScheduleCount = data.Count();
    }



}
<!--Start Main content container-->
<div class="main_content_container">
    <div class="main_container  main_menu_open">
        <!--Start system bath-->
        <div class="home_pass hidden-xs">
            <ul>
                <li class="bring_right"><span class="glyphicon glyphicon-home "></span></li>
                <li class="bring_right"><a asp-action="index">الجداول الدراسية</a></li>
                <li class="bring_right"><a asp-action="StudentSchedule">جداول الطلاب</a></li>
            </ul>
        </div>
        <!--/End system bath-->
        <div class="page_content">

            <h1 class="heading_title">البحث عن الجدول <span class="fa fa-search " style="margin: 5px;"></span></h1>


            <!--Start status alert-->
            <!--/End status alert-->

            <div class="form">
                <form method="post" class="form-horizontal" asp-action="StudentSchedule">

                    <div class="form-group">
                        <label asp-for="GroupId" class="col-sm-2 control-label bring_right left_text">المجموعة</label>
                        <div class="col-sm-10">
                            <select id="input0" asp-for="GroupId" class="form-control" asp-items='@new SelectList(GroupList,"GroupId","Name")'>
                                <option value="@null">اختر مجموعة...</option>
                            </select>

                            <span class="text-danger" asp-validation-for="GroupId"></span>
                        </div>
                    </div>
                    <div id="additionalFilters" style="display:none;">
                        <div class="form-group">
                            <label asp-for="ScheduleId" class="col-sm-2 control-label bring_right left_text">رقم الجدول</label>
                            <div class="col-sm-10">
                                <input asp-for="ScheduleId" type="text" class="form-control" id="input2" placeholder="البحث برقم الجدول">
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="YearId" class="col-sm-2 control-label bring_right left_text">السنة الدراسية</label>
                            <div class="col-sm-10">
                                <select id="input3" asp-for="YearId" class="form-control" asp-items='@new SelectList(YearList,"YearId","Year1")'>
                                    <option value="@null">اختر سنة دراسية...</option>
                                </select>

                                <span class="text-danger" asp-validation-for="YearId"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12 text-center">
                            <button type="submit" class="btn btn-primary"> البحث</button>
                            <button type="button" class="btn btn-default" onclick="showFilters()"> <span class="fa fa-filter"></span></button>
                        </div>
                    </div>
                </form>
            </div>
            <a class="bring_left add-new" asp-action="CreateStudentSchedule">اضافة جدول جديد <span style="padding-right: 8px;" class="fa fa-user-plus"></span></a>
            <br />
            <br />
            @if (StudentScheduleCount > 0)
            {
                <div class="wrap">
                    <table class="table table-bordered">
                        <tr>
                            <td>#</td>
                            <td>رقم الجدول</td>
                            <td>تاريخ التحميل</td>
                            <td>السنة الدراسية</td>
                            <td>المجموعة</td>
                            <td>الترم</td>
                            <td>التحكم</td>
                        </tr>

                        @{
                            var count = 1;
                            foreach (var i in data)
                            {
                                var groupName = GroupListAll.FirstOrDefault(g => g.GroupId == i.GroupId)?.Name ?? "غير معروف";
                                var year = YearList.FirstOrDefault(g => g.YearId == i.YearId)?.Year1 ;
                                var term = TermList.FirstOrDefault(g => g.TermId == i.TermId)?.Name ;
                                <tr>
                                    <td>@count</td>
                                    <td>@i.ScheduleId</td>
                                    <td>@i.DateTime?.ToString("yyyy/MM/dd")</td>
                                    <td>@year</td>
                                    <td>@groupName</td>
                                    <td>@term</td>
                                    <td>
                                        <a asp-action="EditStudentSchedule" asp-route-Id="@i.ScheduleId" class="btn alert-info">تعديل <i class="fa fa-fw fa-edit"></i></a>
                                        <a asp-action="DownloadStudentSchedule" asp-route-Id="@i.ScheduleId" class="btn alert-success"><b>تنزيل </b><i class="fa fa-download"> </i></a>
                                    </td>
                                </tr>
                                count++;
                            }
                        }

                    </table>
                </div>
            }

            <!--Start status alert-->
            @if (TempData.ContainsKey("error"))
            {

                <div class="alert alert-danger h4" role="alert">@TempData["error"]</div>
            }

            @if (TempData.ContainsKey("msg"))
            {
                <div class="alert alert-success h5" role="alert">@TempData["msg"]</div>
            }
            <!--/End status alert-->


        </div>
    </div>
</div>

<!--/End Main content container-->

<script>
                function showFilters() {
        var filters = document.getElementById('additionalFilters');
        if (filters.style.display === 'none') {
            filters.style.display = 'block';
        } else {
            // إخفاء الفورمات
            filters.style.display = 'none';
            // حذف البيانات من الفورمات
            document.getElementById('input2').value = '';
            document.getElementById('input3').value = '';
            document.getElementById('input4').value = '';
        }
    }

</script>