@{
    @model GroupVM
    @inject IRepositoryManager repository

    ViewData["Title"] = "Add Group";

    List<SearchGroup> data = (List<SearchGroup>)ViewData["Data"];
    var YearList = new List<Year>();
    var resYear = await repository.YearRepository.GetAll();
    if (resYear.Count > 0)
    {
        YearList = resYear.ToList();

    }

    var LevelList = new List<Level>();
    var resLevel = await repository.LevelRepository.GetAll();
    if (resLevel.Count > 0)
    {
        LevelList = resLevel.ToList();
    }

    var MajorList = new List<Major>();
    var resMajor = await repository.MajorRepository.GetAll();
    if (resMajor.Count > 0)
    {
        MajorList = resMajor.ToList();
    }

    var GroupList = new List<Group>();
    var resMGroup = await repository.GroupRepository.GetAllGroupsInCurrentYearAndItsParent();
    if (resMajor.Count > 0)
    {
        GroupList = resMGroup.ToList();
    }

}



<!--Start Main content container-->
<div class="main_content_container">
    <div class="main_container  main_menu_open">
        <!--Start system bath-->
        <div class="home_pass hidden-xs">
            <ul>
                <li class="bring_right"><span class="glyphicon glyphicon-home "></span></li>
                <li class="bring_right"><a asp-action="index">إدارة المجموعات</a></li>
                <li class="bring_right"><a href="">اضافة مجموعة جديد </a></li>
            </ul>
        </div>
        <!--/End system bath-->
        <div class="page_content">

            <h1 class="heading_title">اضافة مجموعة جديد</h1>


            <!--Start status alert-->
            @if (TempData.ContainsKey("error"))
            {

                <div class="alert alert-danger h4" role="alert">@TempData["error"]</div>
            }

            @if (TempData.ContainsKey("msg"))
            {
                <div class="alert alert-success h5" role="alert">@TempData["msg"]</div>
            }
            <!--/End status alert-->


            <div class="form">
                <form method="post" class="form-horizontal" asp-action="Create">
                    
                    <div class="form-group">
                        <label asp-for="Name" class="col-sm-2 control-label bring_right left_text">اسم المجموعة</label>
                        <div class="col-sm-10">
                            <input asp-for="Name" type="text" class="form-control" id="input1" placeholder="البحث بأسم المجموعة">
                            <span class="text-danger" asp-validation-for="Name"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="YearId" class="col-sm-2 control-label bring_right left_text">السنة الدراسية</label>
                        <div class="col-sm-10">
                            <select id="input0" asp-for="YearId" class="form-control"
                                    asp-items='@new SelectList(YearList,"YearId","Year1")'>
                                <option value="@null">اختر سنة دراسية ...</option>
                            </select>
                            <span class="text-danger" asp-validation-for="YearId"></span>
                        </div>
                    </div>


                    <div class="form-group">
                        <label asp-for="LevelId" class="col-sm-2 control-label bring_right left_text">المستوى الدراسي</label>
                        <div class="col-sm-10">
                            <select id="input3" asp-for="LevelId" class="form-control"
                                    asp-items='@new SelectList(LevelList,"LevelId","Name")'>
                                <option value="@null">اختر مستوى دراسي ...</option>
                            </select>
                            <span class="text-danger" asp-validation-for="LevelId"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="MajorId" class="col-sm-2 control-label bring_right left_text">التخصص</label>
                        <div class="col-sm-10">
                            <select id="input4" asp-for="MajorId" class="form-control"
                                    asp-items='@new SelectList(MajorList,"MajorId","Name")'>
                                <option value="@null">اختر تخصص دراسي ...</option>
                            </select>
                            <span class="text-danger" asp-validation-for="MajorId"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="ParentGroupId" class="col-sm-2 control-label bring_right left_text">المجموعة الاب</label>
                        <div class="col-sm-10">
                            <select id="input5" asp-for="ParentGroupId" class="form-control"
                                    asp-items='@new SelectList(GroupList,"GroupId","Name")'>
                                <option value="@null">اختر مجموعة ...</option>
                            </select>
                            <span class="text-danger" asp-validation-for="ParentGroupId"></span>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-12 text-center">
                            <button type="submit" class="btn btn-primary">اضافة </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--/End Main content container-->