@{
    @model GroupVM
    @inject IRepositoryManager repository
    ViewData["Title"] = "Group Details";

    var Year = await repository.YearRepository.GetObjById(@Model.YearId);

    var Level = await repository.LevelRepository.GetObjById(@Model.LevelId);

    var Major = await repository.MajorRepository.GetObjById(@Model.MajorId);

    var Group = await repository.GroupRepository.GetObjById(@Model.ParentGroupId);




}





<!--Start Main content container-->
<div class="main_content_container">
    <div class="main_container  main_menu_open">
        <!--Start system bath-->
        <div class="home_pass hidden-xs">
            <ul>
                <li class="bring_right"><span class="glyphicon glyphicon-home "></span></li>
                <li class="bring_right"><a asp-action="index">إدارة المجموعات</a></li>
                <li class="bring_right"><a asp-action="index">البحث عن مجموعة</a></li>
                <li class="bring_right"><a href="">تفاصيل المجموعة @Model.Name</a></li>
            </ul>
        </div>
        <!--/End system bath-->
        <div class="page_content">
            <div class="page_content">

                <div class="card border-primary mb-3 ">
                    <div style="margin: 40px 25px;background-color: #001c39;" class="card-header  bg-primary text-white text-center">
                        <h3 style="padding: 10px; ">تفاصيل المجموعة</h3>
                    </div>
                    <div class="card-body text-primary ">
                        <div class="row" style="margin: 5px 40px ;">
                            <div class="col-md-12 " style="font-size: 20px;">
                                <h3 class="card-title"><strong>@Model.Name</strong></h3>
                                <br>
                                <p class="card-text"><strong>رقم المجموعة : </strong>@Model.GroupId</p>
                                <p class="card-text"><strong>السنة الدراسية : </strong> @Year.Year1</p>
                                <p class="card-text"><strong>المستوى الدراسي : </strong>@Level.Name</p>
                                <p class="card-text"><strong>التخصص : </strong>@Major.Name</p>
                                @if (Model.ParentGroupId != null)
                                {
                                    <p class="card-text"><strong>المجموعة الاب : </strong>@Group.Name</p>
                                }
                                else
                                {
                                    <p class="card-text"><strong>المجموعة الاب : </strong>None</p>
                                }
                                <a asp-action="Edit" asp-route-Id="@Model.GroupId" class="btn btn-outline-primary btn-block add-new">تعديل البيانات</a>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!--/End Main content container-->
